.pokemon {
  background-color: rgb(216, 237, 246);
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  max-width: 200px;
  display: inline-block;
  border: 2px solid lightblue;
}

body {
  padding: 0px;
  margin: 0px;
}